body {
    font-family: PingFangSC-Semibold;
    background: #343843;
}

#vue-lottery {
    width: 1200px;
    margin: 0 auto;
}

.lottery-top-wrap {
    width: 1200px;
    height: 80px;
    font-size: 0;
}

.lottery-top-left {
    height: 80px;
    line-height: 80px;
    width: 240px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-center {
    height: 80px;
    line-height: 80px;
    width: 400px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-right {
    height: 80px;
    line-height: 80px;
    width: 560px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-logo {
    vertical-align: middle;
    margin-right: 12px;
}

.lottery-top-name {
    font-size: 28px;
    color: #FFFFFF;
    vertical-align: middle;
}

.lottery-count-time,
.lottery-current-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-count-time {
    margin-left: 10px;
}

.lottery-count-time-item {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
    color: #EC2828;
    text-align: center;
    vertical-align: middle;
}

.lottery-count-time-minutes {
    margin: 0 8px;
}

.current-issue-text,
.open-issue-text {
    letter-spacing: 0;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    height: 18px;
    text-align: right;
}

.current-issue-text-up,
.open-issue-text-up {
    margin-top: -9px;
}

.current-issue-num,
.open-issue-num {
    color: #FFF75D;
}

.lottery-open-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-open-code {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.open-code-num {
    font-size: 34px;
    color: #FFFFFF;
    background: #E9272A;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.lottery-plate-wrap {
    width: 710px;
    box-sizing: border-box;
    background: #20242E;
}

.plate-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 13px;
}

.plate-tab-item {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
}

.plate-tab-item.on {
    color: #FFF75D;
    border-bottom: 3px solid #FFF75D;
}

.plate-tab-item-more {
    background: #3B4050;
    border-radius: 6px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 86px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-top: 6px;
}

.plate-tab-item-more-icon {
    display: inline-block;
    background: url(../images/plate-tab-item-more.png) center no-repeat;
    background-size: cover;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    margin-left: 4.5px;
}

.plate-sub-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 20px;
    background: #FBFBFB;
}

.sub-tab-title {
    display: inline-block;
    font-size: 12px;
    color: #99A9BF;
    letter-spacing: 0;
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.sub-tab-item {
    display: inline-block;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.sub-tab-item.on {
    background: #E9272A; 
    color: #FFFFFF;   
}

.sub-tab-wrap {
    height: 30px;
    line-height: 30px;
}
