<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>摩登娱乐 - 彩票</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/lottery.css">
</head>
<body>
    <div id="vue-lottery" :theme="theme">
        <lottery-top :lottery-config="lotteryConfig" :lottery-code="lotteryCode" :open-issue="openIssue" :open-code="openCode" :lottery-type="lotteryType"></lottery-top>
        <div :style="{height: plateHeight}" class="clearfix plate-trend-wrap">
            <lottery-plate v-if="!isEmptyObject(lotteryConfig)" :lottery-config="lotteryConfig" :lottery-type="lotteryType" :lottery-code="lotteryCode" :model-arr="modelArr"></lottery-plate>
            <lottery-trend :trend-data="trendData"></lottery-trend>
        </div>
        <lottery-order :order-arr="orderArr" :model-arr="modelArr"></lottery-order>
        <lottery-trace></lottery-trace>
        <lottery-history></lottery-history>      
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/vuex.min.js"></script>    
    <script src="./js/axios.min.js"></script>
    <script src="./js/store.js"></script>    
    <script src="./js/utils.js"></script>
    <script src="./js/global-components/number-minus-plus.js"></script>
    <script src="./js/global-components/select-model.js"></script>    
    <script src="./js/components/top.js"></script>
    <script src="./js/components/plate.js"></script>
    <script src="./js/components/trend.js"></script>
    <script src="./js/components/plate.js"></script>
    <script src="./js/components/order.js"></script>
    <script src="./js/components/history.js"></script>
    <script src="./js/lottery.js"></script>
</body>
</html>