body {
    font-family: PingFangSC-Semibold;
    background-image: linear-gradient(-180deg, #2072A2 0%, #364476 85%);
}

body[theme=blue] {
    background-image: linear-gradient(-180deg, #2072A2 0%, #364476 85%);
}

#vue-lottery {
    width: 1000px;
    margin: 0 auto;
}

.lottery-top-wrap {
    width: 1000px;
    height: 80px;
    font-size: 0;
}

.lottery-top-left {
    height: 80px;
    line-height: 80px;
    width: 240px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-center {
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    font-size: 0;
}

.ds-input-box {
    overflow-x: hidden;
    overflow-y: auto;
}

.lottery-top-right {
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-logo {
    vertical-align: middle;
    margin-right: 12px;
}

.lottery-top-name {
    font-size: 28px;
    color: #FFFFFF;
    vertical-align: middle;
}

.lottery-count-time,
.lottery-current-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-count-time {
    margin-left: 10px;
}

.lottery-count-time-item {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
    color: #237DB1;
    text-align: center;
    vertical-align: middle;
}

.lottery-count-time-minutes {
    margin: 0 8px;
}

.current-issue-text,
.open-issue-text {
    letter-spacing: 0;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    height: 18px;
    text-align: right;
}

.current-issue-text-up,
.open-issue-text-up {
    margin-top: -9px;
}

.current-issue-num,
.open-issue-num {
    color: #FFF75D;
}

.lottery-open-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-open-code {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.open-code-num {
    font-size: 34px;
    color: #FFFFFF;
    background: #1FA0DC;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.lottery-plate-wrap {
    width: 710px;
    box-sizing: border-box;
    background: #20242E;
}

.plate-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 13px;
}

body[theme="blue"] .plate-tab {
    background: #235E88;
}

.plate-tab-item {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
}

.plate-tab-item.on {
    color: #FFF75D;
    border-bottom: 3px solid #FFF75D;
}

.plate-tab-item-more {
    background: #3B4050;
    border-radius: 6px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 86px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-top: 6px;
}

body[theme="blue"] .plate-tab-item-more {
    background: #0B5174;
}

.plate-tab-item-more-icon {
    display: inline-block;
    background: url(../images/plate-tab-item-more.png) center no-repeat;
    background-size: cover;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    margin-left: 4.5px;
}

.plate-sub-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 20px;
    background: #FBFBFB;
}

.sub-tab-title {
    display: inline-block;
    font-size: 12px;
    color: #99A9BF;
    letter-spacing: 0;
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.sub-tab-dxds-title {
    width: 80px;
}

.sub-tab-item {
    display: inline-block;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.sub-tab-dxds-item {
    width: 90px;
}

.sub-tab-item.on {
    background: #1FA0DC;
    color: #FFFFFF;
}

.sub-tab-wrap {
    height: 30px;
    line-height: 30px;
}

.plate-number {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 13px;
    background: #FBFBFB;
    border-top: 1px dashed #E0E6ED;
    border-bottom: 1px dashed #E0E6ED;
}

.plate-method-hint {
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    text-align: left;
    vertical-align: middle;
}

.question-mark-icon {
    display: inline-block;
    background: url(../images/question-mark.png) center no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

.plate-method-hint {
    height: 38px;
    line-height: 38px;
    display: inline-block;
}

.hot-miss-tab {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    margin-left: 32px;
}

.miss-tab,
.hot-tab {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    display: inline-block;
    width: 48px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    vertical-align: middle;
}

.miss-tab {
    border-radius: 4px 0 0 4px;
}

.hot-tab {
    border-radius: 0 4px 4px 0;
}

.miss-tab.on,
.hot-tab.on {
    background: #1FA0DC;
    color: #FFFFFF;
}

/* .plate-number-item {
    margin-bottom: 10px;
} */

.plate-number-position {
    font-size: 18px;
    color: #475669;
    letter-spacing: 0;
    text-align: left;
    width: 55px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 10px;
}

.plate-number[tab=bdd] .plate-number-position {
    width: 73px;
}

.plate-number[sub-tab=zux_z120] .plate-number-position {
    width: 82px;
}

.plate-number[sub-tab=zux_z60] .plate-number-position,
.plate-number[sub-tab=zux_z30] .plate-number-position,
.plate-number[sub-tab=zux_z20] .plate-number-position,
.plate-number[sub-tab=zux_z10] .plate-number-position,
.plate-number[sub-tab=zux_z5] .plate-number-position,
.plate-number[sub-tab=zux_z12] .plate-number-position,
.plate-number[tab=sx][sub-tab=zux_z6] .plate-number-position,
.plate-number[sub-tab=zux_z4] .plate-number-position,
.plate-number[sub-tab=hzdxds_5xhz] .plate-number-position,
.plate-number[sub-tab=hzdxds_q3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_z3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_h3hz] .plate-number-position {
    width: 73px;
}

.plate-number[sub-tab=zx_hz] .select-number-wrap,
.plate-number[sub-tab=nn_nn] .select-number-wrap,
.plate-number[sub-tab=zux_hz] .select-number-wrap {
    width: 580px;
}

.plate-number[sub-tab=zx_hz] .plate-number-position,
.plate-number[sub-tab=zux_hz] .plate-number-position {
    width: 91px;
}

.plate-number[sub-tab=hzdxds_5xhz] .plate-number-position,
.plate-number[sub-tab=hzdxds_q3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_z3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_h3hz] .plate-number-position {
    width: 91px;
}

.plate-number[mid-method="bjl"] .plate-number-position {
    width: 73px;
}

.plate-number[mid-method="ts"] .plate-number-position {
    width: 91px;
}

.plate-number[sub-tab=zx_hz] .plate-number-each,
.plate-number[sub-tab=zux_hz] .plate-number-each {
    margin-bottom: 10px;
}

.plate-number-position.plate-number-position-all {
    font-size: 12px;
}

.plate-number[sub-tab=dxgs_wx] .plate-number-position,
.plate-number[sub-tab=dxgs_sx] .plate-number-position,
.plate-number[sub-tab=dxgs_q3] .plate-number-position,
.plate-number[sub-tab=dxgs_z3] .plate-number-position,
.plate-number[sub-tab=dxgs_h3] .plate-number-position,
.plate-number[sub-tab=dsgs_wx] .plate-number-position,
.plate-number[sub-tab=dsgs_sx] .plate-number-position,
.plate-number[sub-tab=dsgs_q3] .plate-number-position,
.plate-number[sub-tab=dsgs_z3] .plate-number-position,
.plate-number[sub-tab=dsgs_h3] .plate-number-position {
    margin-top: 3px;
}

.plate-number[sub-tab=dxgs_wx] .plate-filter-button,
.plate-number[sub-tab=dxgs_sx] .plate-filter-button,
.plate-number[sub-tab=dxgs_q3] .plate-filter-button,
.plate-number[sub-tab=dxgs_z3] .plate-filter-button,
.plate-number[sub-tab=dxgs_h3] .plate-filter-button,
.plate-number[sub-tab=dsgs_wx] .plate-filter-button,
.plate-number[sub-tab=dsgs_sx] .plate-filter-button,
.plate-number[sub-tab=dsgs_q3] .plate-filter-button,
.plate-number[sub-tab=dsgs_z3] .plate-filter-button,
.plate-number[sub-tab=dsgs_h3] .plate-filter-button {
    margin-top: 3px;
}

.plate-number[mid-method="lhh"] .plate-number-position,
.plate-number[mid-method="xt"] .plate-number-position,
.plate-number[mid-method="bjl"] .plate-number-position,
.plate-number[sub-tab=nn_nn] .plate-number-position,
.plate-number[sub-tab=dxds_h2] .plate-number-position,
.plate-number[sub-tab=dxds_q2] .plate-number-position,
.plate-number[sub-tab=dxds_h3] .plate-number-position,
.plate-number[sub-tab=dxds_q3] .plate-number-position,
.plate-number[sub-tab=hzdxds_5xhz] .plate-number-position,
.plate-number[sub-tab=hzdxds_q3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_z3hz] .plate-number-position,
.plate-number[sub-tab=hzdxds_h3hz] .plate-number-position {
    margin-top: 2px;
}

.plate-number[mid-method="lhh"] .plate-number-button,
.plate-number[mid-method="xt"] .plate-number-button,
.plate-number[mid-method="bjl"] .plate-number-button,
.plate-number[sub-tab=nn_nn] .plate-filter-button,
.plate-number[sub-tab=dxds_h2] .plate-filter-button,
.plate-number[sub-tab=dxds_q2] .plate-filter-button,
.plate-number[sub-tab=dxds_h3] .plate-filter-button,
.plate-number[sub-tab=dxds_q3] .plate-filter-button,
.plate-number[sub-tab=hzdxds_5xhz] .plate-filter-button,
.plate-number[sub-tab=hzdxds_q3hz] .plate-filter-button,
.plate-number[sub-tab=hzdxds_z3hz] .plate-filter-button,
.plate-number[sub-tab=hzdxds_h3hz] .plate-filter-button {
    margin-top: 2px;
}

.plate-number-each {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    font-family: PingFangSC-Regular;
    margin-right: 12px;
    cursor: pointer;
    transition: all .1s ease;
}

.plate-number-each:hover {
    background-image: linear-gradient(-180deg, #202 0%, #364476 85%);
    color: #fff;
}

body[theme="blue"] .plate-number-each:hover {
    background-image: linear-gradient(-180deg, rgb(225, 250, 166) 0%, #a4f7c9 85%);
    color: #fff;
}

.plate-number-each.two-chinese {
    font-size: 12px !important;
}

.plate-number[mid-method="lhh"] .plate-number-each,
.plate-number[mid-method="xt"] .plate-number-each,
.plate-number[mid-method="bjl"] .plate-number-each,
.plate-number[sub-tab=nn_nn] .plate-number-each,
.plate-number[sub-tab=dxds_q2] .plate-number-each,
.plate-number[sub-tab=dxds_h2] .plate-number-each,
.plate-number[sub-tab=dxds_h3] .plate-number-each,
.plate-number[sub-tab=dxds_q3] .plate-number-each,
.plate-number[sub-tab=hzdxds_5xhz] .plate-number-each,
.plate-number[sub-tab=hzdxds_q3hz] .plate-number-each,
.plate-number[sub-tab=hzdxds_z3hz] .plate-number-each,
.plate-number[sub-tab=hzdxds_h3hz] .plate-number-each {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
}

.plate-number[sub-tab=dxgs_wx] .plate-number-each,
.plate-number[sub-tab=dxgs_sx] .plate-number-each,
.plate-number[sub-tab=dxgs_q3] .plate-number-each,
.plate-number[sub-tab=dxgs_z3] .plate-number-each,
.plate-number[sub-tab=dxgs_h3] .plate-number-each,
.plate-number[sub-tab=dsgs_wx] .plate-number-each,
.plate-number[sub-tab=dsgs_sx] .plate-number-each,
.plate-number[sub-tab=dsgs_q3] .plate-number-each,
.plate-number[sub-tab=dsgs_z3] .plate-number-each,
.plate-number[sub-tab=dsgs_h3] .plate-number-each {
    width: 72px;
    height: 34px;
    line-height: 34px;
    border-radius: 4px;
}

.plate-number-each.on {
    color: #FFFFFF;
    background: #1FA1DD;
}

body[theme="blue"] .plate-number-each.on {
    color: #FFFFFF;
    background: #1FA1DD;
}

.plate-filter-button {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 8px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.filter-button {
    font-size: 14px;
    color: #475669;
    letter-spacing: 0;
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}

body[theme="blue"] .filter-button:active,
body[theme="blue"] .filter-button:hover {
    color: #FFFFFF;
    background: #1FA1DD;
}

.ds-input-item {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background: #dadada;
    padding: 0px 15px 0 10px;
    border-radius: 4px;
    margin: 2px 4px;
    position: relative;
}

.ds-input {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    /* height: 24px; */
    text-indent: 14px;
    background: transparent;
}

.ds-input::-webkit-outer-spin-button,
.ds-input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

.ds-input[type="number"] {
    -moz-appearance: textfield;
}

.ds-input-area {
    width: 670px;
    height: 100px;
    border: 1px solid #E0E6ED;
    border-radius: 10px;
}

.ds-input-delete {
    cursor: pointer;
    font-weight: 700;
    color: #e74c3c;
    vertical-align: middle;
    font-size: 16px;
    opacity: 0.5;
    position: absolute;
    right: 3px;
    bottom: 2px;
}

.ds-input-delete:hover {
    opacity: 1;
}

.model-item {
    text-align: center;
    width: 34px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #475669;
    border-right: 1px solid #E0E6ED;
    border-top: 1px solid #E0E6ED;
    border-bottom: 1px solid #E0E6ED;
    cursor: pointer;
    font-family: PingFangSC-Regular;
}

body[theme="blue"] .model-item.on {
    background: #1FA1DD;
    color: #FFFFFF;
}

.model-item:first-child {
    border: 1px solid #E0E6ED;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.model-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.number-times,
.number-odd-text {
    height: 24px;
    line-height: 24px;
    margin-right: 7px;
}

.number-odd-text {
    margin-left: 16px;
}

.number-minus-plus-outter {
    margin-left: 16px;
}

.order-times .number-minus-plus-wrap {
    margin-top: 3px;
}

.number-minus,
.number-plus {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    text-align: center;
    color: #99A9BF;
    border: 1px solid #E0E6ED;
    box-sizing: border-box;
    cursor: pointer;
    background: #fff;
}

.number-minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.number-plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -3px;
}

.number-minus-plus-wrap {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
}

input.number-minus-plus {
    width: 64px;
    height: 24px;
    border-top: 1px solid #E0E6ED;
    border-bottom: 1px solid #E0E6ED;
    border-left: 1px solid transparent;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

input.number-minus-plus::-webkit-outer-spin-button,
input.number-minus-plus::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

input.number-minus-plus[type="number"] {
    -moz-appearance: textfield;
}

.number-odd-wrap {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    height: 24px;
    line-height: 24px;
}

.number-odd-select {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    width: 110px;
    height: 24px;
    text-align: center;
    outline: none;
}

.plate-number-bottom-top {
    padding-bottom: 15px;
    padding-top: 12px;
}

.plate-numbet-bottom-bottom {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #475669;
    letter-spacing: 0;
    padding-bottom: 10px;
}

body[theme="blue"] .plate-numbet-bottom-bottom .total-bet,
body[theme="blue"] .plate-numbet-bottom-bottom .total-times,
body[theme="blue"] .plate-numbet-bottom-bottom .total-money {
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #F89B22;
    letter-spacing: 0;
}

.totals-wrap {
    height: 34px;
    line-height: 34px;
    font-size: 0;
    margin-right: 25px;
}

.total-money-wrap,
.total-times-wrap,
.total-bet-wrap {
    font-size: 16px;
}

.add-number,
.quick-bet,
.right-now-bet {
    width: 90px;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    letter-spacing: 0;
    cursor: pointer;
}

body[theme="blue"] .quick-bet {
    background: rgb(248, 155, 34);
    color: #FFFFFF;
    border: none;
    margin-right: 12px;
}

body[theme="blue"] .quick-bet:hover {
    background: rgb(248, 155, 34, .9);
}

body[theme="blue"] .add-number {
    border: 1px solid #1FA1DD;
    color: rgb(31, 161, 221);
}

body[theme="blue"] .add-number:hover {
    background: rgb(31, 161, 221, .9);
}

body[theme="blue"] .right-now-bet {
    background: rgb(31, 161, 221);
    color: #fff;
    margin-right: 16px;
}

body[theme="blue"] .right-now-bet:hover {
    background: rgb(31, 161, 221, .9);
}

.icon-trace {
    background: url(../images/icon-trace-off.png) center center no-repeat;
    width: 44px;
    height: 22px;
    margin-top: 16px;
    background-size: cover;
    margin-top: 6px;
    margin-right: 274px;
}

body[theme="blue"] .icon-trace.on {
    background-image: url(../images/blue-icon-trace-on.png);
}

body[theme="blue"] .total-order-bet,
body[theme="blue"] .total-order-money {
    color: #1FA1DD;
}

.trace-text {
    font-size: 12px;
    color: #1F2D3D;
    letter-spacing: 0;
    margin-right: 8px;
}

.lottery-order-bottom {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #475669;
    letter-spacing: 0;
    padding: 16px 0;
    border: 1px solid #E0E6ED;
    border-top: none;
}

.trace-text,
.total-order-money-wrap {
    height: 34px;
    line-height: 34px;
}

.total-order-money-wrap {
    margin-right: 23px;
}

.add-number.disabled,
.quick-bet.disabled,
.right-now-bet.disabled {
    background: #F4F4F4 !important;
    color: #C0CCDA !important;
    border: 1px solid #E0E6ED !important;
    cursor: not-allowed !important;
}

.plate-bottom {
    background: #FFFFFF;
    box-shadow: 0 1px 0 0 #E0E6ED;
    padding-left: 20px;
    padding-right: 13px;
}

.lottery-order-item {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #8998AC;
    letter-spacing: 0;
    box-shadow: inset 0 -1px 0 0 #E0E6ED;
}

body[theme="blue"] .lottery-order-item-head {
    background: #EFFAFF;
    /* box-shadow: inset 0 -1px 0 0 #E0E6ED; */
}

.order-method-cn {
    width: 116px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-bet-content {
    width: 262px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-model {
    width: 116px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-times {
    width: 160px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-bet-nums {
    width: 99px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-bet-amount {
    width: 116px;
    box-sizing: border-box;
    padding-left: 12px;
}

body[theme="blue"] .lottery-order-item-head .order-delete {
    font-family: MicrosoftYaHei;
    color: #FF4949;
}

.order-delete {
    width: 80px;
    box-sizing: border-box;
    padding-left: 12px;
}

.order-delete-icon {
    display: inline-block;
    vertical-align: middle;
    background: #C2C2C2;
    color: #fff;
    width: 14px;
    height: 14px;
    line-height: 12px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.order-delete-icon:hover {
    color: #FF4949;
}

.lottery-order-list {
    border: 1px solid #E0E6ED;
    height: 180px;
    overflow-y: auto;
}

.lottery-order-wrap {
    padding: 12px 16px;
    background: #FFFFFF;
    border-top: 1px solid #E0E6ED;
}

.lottery-trend-wrap {
    background: #fff;
    width: 290px;
    border-left: 1px solid #E0E6ED;
    overflow: hidden;
    box-sizing: border-box;
}

.lottery-trend-head,
.lottery-trend-body {
    width: 307px;
    /* 290 + 17, 17是滚动条宽度 */
}

.lottery-trend-head {
    border-bottom: 1px solid #E0E6ED;
    font-size: 0;
    display: table;
}

.plate-number-list {
    padding-bottom: 10px;
}

.lottery-trend-body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 63px);
    /* 63是头部标题的高度 */
}

.plate-trend-wrap {
    overflow: hidden;
}

.lottery-trend-item {
    position: relative;
    height: 34px;
    line-height: 34px;
    font-size: 0;
    display: table;
    width: 307px;
}

.lottery-trend-item::after {
    position: absolute;
    content: '';
    width: 280px;
    height: 1px;
    background: #E0E6ED;
    left: 5px;
    bottom: 0;
}

.lottery-trend-title {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: bold;
    color: #475669;
    letter-spacing: 0;
    margin-left: 16px;
}

.lottery-trend-link {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    letter-spacing: 0;
    margin-right: 16px;
    cursor: pointer;
}

body[theme="blue"] .lottery-trend-link {
    color: #1FA1DD;
}

.lottery-trend-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    width: 12px;
    height: 12px;
}

body[theme="blue"] .lottery-trend-icon {
    background: url(../images/icon-trend-blue.png) center center no-repeat;
    background-size: cover;
}

.lottery-trend-top {
    height: 36px;
    line-height: 36px;
}

.lottery-trend-head {
    height: 28px;
    line-height: 28px;
}

.trend-head-col {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #99A9BF;
    letter-spacing: 0;
    text-align: center;
    display: table-cell;
}

.trend-col {
    text-align: center;
    display: table-cell;
    font-size: 12px;
}

.trend-col-1 {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #656565;
    letter-spacing: 0;
}

body[theme="blue"] .trend-num.trend-num-on {
    color: #1FA1DD;
}

.trend-num {
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    margin: 0 4px;
}