body {
    font-family: PingFangSC-Semibold;
    background-image: linear-gradient(-180deg, #2072A2 0%, #364476 85%);
}

body[theme=blue] {
    background-image: linear-gradient(-180deg, #2072A2 0%, #364476 85%);
}

#vue-lottery {
    width: 1200px;
    margin: 0 auto;
}

.lottery-top-wrap {
    width: 1200px;
    height: 80px;
    font-size: 0;
}

.lottery-top-left {
    height: 80px;
    line-height: 80px;
    width: 240px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-center {
    height: 80px;
    line-height: 80px;
    width: 400px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-right {
    height: 80px;
    line-height: 80px;
    width: 560px;
    box-sizing: border-box;
    font-size: 0;
}

.lottery-top-logo {
    vertical-align: middle;
    margin-right: 12px;
}

.lottery-top-name {
    font-size: 28px;
    color: #FFFFFF;
    vertical-align: middle;
}

.lottery-count-time,
.lottery-current-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-count-time {
    margin-left: 10px;
}

.lottery-count-time-item {
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 100%);
    border-radius: 4px;
    width: 60px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
    color: #237DB1;
    text-align: center;
    vertical-align: middle;
}

.lottery-count-time-minutes {
    margin: 0 8px;
}

.current-issue-text,
.open-issue-text {
    letter-spacing: 0;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    height: 18px;
    text-align: right;
}

.current-issue-text-up,
.open-issue-text-up {
    margin-top: -9px;
}

.current-issue-num,
.open-issue-num {
    color: #FFF75D;
}

.lottery-open-issue {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.lottery-open-code {
    font-size: 0;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.open-code-num {
    font-size: 34px;
    color: #FFFFFF;
    background: #1FA0DC;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

.lottery-plate-wrap {
    width: 710px;
    box-sizing: border-box;
    background: #20242E;
}

.plate-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 13px;
}

.plate-tab-item {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    cursor: pointer;
    text-align: center;
    padding: 0 8px;
    height: 36px;
    line-height: 36px;
}

.plate-tab-item.on {
    color: #FFF75D;
    border-bottom: 3px solid #FFF75D;
}

.plate-tab-item-more {
    background: #3B4050;
    border-radius: 6px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 86px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-top: 6px;
}

.plate-tab-item-more-icon {
    display: inline-block;
    background: url(../images/plate-tab-item-more.png) center no-repeat;
    background-size: cover;
    width: 15px;
    height: 14px;
    vertical-align: middle;
    margin-left: 4.5px;
}

.plate-sub-tab {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 20px;
    background: #FBFBFB;
}

.sub-tab-title {
    display: inline-block;
    font-size: 12px;
    color: #99A9BF;
    letter-spacing: 0;
    width: 64px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.sub-tab-dxds-title {
    width: 80px;
}

.sub-tab-item {
    display: inline-block;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.sub-tab-dxds-item {
    width: 90px;
}

.sub-tab-item.on {
    background: #1FA0DC;
    color: #FFFFFF;
}

.sub-tab-wrap {
    height: 30px;
    line-height: 30px;
}

.plate-number {
    width: 710px;
    font-size: 0;
    box-sizing: border-box;
    padding-left: 20px;
    background: #FBFBFB;
    border-top: 1px dashed #E0E6ED;
    border-bottom: 1px dashed #E0E6ED;
}

.plate-method-hint {
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    text-align: left;
    vertical-align: middle;
}

.question-mark-icon {
    display: inline-block;
    background: url(../images/question-mark.png) center no-repeat;
    background-size: cover;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-left: 10px;
}

.plate-method-hint {
    height: 38px;
    line-height: 38px;
    display: inline-block;
}

.hot-miss-tab {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    margin-left: 32px;
}

.miss-tab,
.hot-tab {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    display: inline-block;
    width: 48px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    color: #475669;
    letter-spacing: 0;
    vertical-align: middle;
}

.miss-tab {
    border-radius: 4px 0 0 4px;
}

.hot-tab {
    border-radius: 0 4px 4px 0;
}

.miss-tab.on,
.hot-tab.on {
    background: #1FA0DC;
    color: #FFFFFF;
}

.plate-number-item {
    margin-bottom: 10px;
}

.plate-number-position {
    font-size: 18px;
    color: #475669;
    letter-spacing: 0;
    text-align: left;
    width: 55px;
    height: 28px;
    line-height: 28px;
}

.plate-number[tab=bdd] .plate-number-position {
    width: 73px;
}

.plate-number-position.plate-number-position-all {
    font-size: 12px;
}

.plate-number-each {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    font-family: PingFangSC-Regular;
    margin-right: 14px;
    cursor: pointer;
}

.plate-number-each.on {
    color: #FFFFFF;
    background:  #1FA1DD;
}

.plate-filter-button {
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    border-radius: 8px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 12px;
}

.filter-button {
    font-size: 14px;
    color: #475669;
    letter-spacing: 0;
    cursor: pointer;
    width: 28px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
}

body[theme="blue"] .filter-button:active {
    color: #FFFFFF;
    background:  #1FA1DD;
}

.ds-input-item {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background: #dadada;
    padding: 0px 15px 0 10px;
    border-radius: 4px;
    margin: 2px 4px;
    position: relative;
}

.ds-input {
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 24px;
    padding-left: 14px;
    background: transparent;
}

.ds-input::-webkit-outer-spin-button,
.ds-input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

.ds-input[type="number"] {
    -moz-appearance: textfield;
}

.ds-input-area {
    width: 670px;
    height: 100px;
    border: 1px solid #E0E6ED;
    border-radius: 10px;
}

.ds-input-delete {
    cursor: pointer;
    font-weight: 700;
    color: #e74c3c;
    vertical-align: middle;
    font-size: 16px;
    opacity: 0.5;
    position: absolute;
    right: 3px;
    bottom: 2px;
}

.ds-input-delete:hover {
    opacity: 1;
}